@import 'tailwindcss';

@theme {
  --font-family-sans:
    'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  /* Colors - Orange Palette */
  --color-orange-gradient: #ba4e23;
  --color-orange-01: #6c2d14;
  --color-orange-02: #804229;
  --color-orange-03: #dc8563;
  --color-orange-04: #ba4e23;
  --color-bright-orange-01: #ffe4d3;
  --color-bright-orange-02: #f3eae5;
  --color-bright-orange-01-hover: #eccebb;
  --color-bright-orange-01-press: #ccb6a9;
  --color-yellow-main: #dabe5a;

  /* Colors - Gray Palette */
  --color-white: #ffffff;
  --color-gray-01: #ededed;
  --color-gray-02: #d9d9d9;
  --color-gray-03: #b0b0b0;
  --color-gray-05: #8f8f8f;
  --color-gray-07: #515154;

  /* Colors - Background */
  --color-bg-dark: #080300;
  --color-bg-secondary: #1c1c1c;
}

@layer base {
  :root {
    color-scheme: dark;
  }
}

@layer components {
  .likelion {
    color: var(--Gray-white, #fff);
    font-family: 'Pretendard';
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 130px */
  }
  .hongik {
    color: var(--Gray-white, #fff);
    text-align: center;
    font-family: 'Pretendard';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 62.4px */
  }
  .experience {
    color: var(--Gray-02, #d9d9d9);
    text-align: center;

    /* Title/32_Semibold */
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
  }
  .navbar_title {
    color: var(--Gray-white, #fff);

    /* Title/20_Semibold */
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
  }
  .navbar_experience {
    color: var(--Gray-01, #ededed);
    text-align: center;

    /* Title/20_Semibold */
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
  }
}
